.profile-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%; /* Rounded shape for profile image */
    margin-right: 20px;
  }

  .settings-link {
    cursor: pointer;
    color: #333;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .settings-link:hover {
    /* Styles when hovering over the element */
    color: #555;
  }

  .friends-link {
    cursor: pointer;
    color: #333;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .friends-link:hover {
    /* Styles when hovering over the element */
    color: #555;
  }
  
  .home-link {
    cursor: pointer;
    color: #333;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .home-link:hover {
    /* Styles when hovering over the element */
    color: #555;
  }

  .profile-details {
    flex: 1;
  }
  
  .profile-details h2 {
    margin-top: 0;
  }
