/*.DropOrClick {
    font-family: 'Climate Crisis';
    font-family: 'Tilt Warp';
}

/*.popup {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: calc(90%);
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 5px;
    z-index: 999;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
*/

/*h1, label, button {
    font-family: 'Climate Crisis', cursive;
    font-family: 'Tilt Warp', cursive;
}
*/

/*.popup {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: calc(90%);
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 5px;
    z-index: 999;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
*/

.browse-button {
    background-color: darkgrey;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.browse-button:hover {
    background-color: grey;
  }

.blue-button {
    background-color: #023047;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.blue-button:hover {
    background-color: #219EBC;
  }