

.browse-button {
    background-color: darkgrey;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.browse-button:hover {
    background-color: grey;
  }

.blue-button {
    background-color: #023047;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.blue-button:hover {
    background-color: #219EBC;
  }
