.search-bar {
    margin-top: 20px;
    width: 300px;
    /* Make the search bar bigger */
    height: 40px;
    border-radius: 20px;
    /* Make the search bar a rounder rectangle */
    padding: 20px;
    /* Make room for the magnifying glass icon */

}

.ul {
    margin-top: 20px;
}

.friend {
    padding: 10px;
}